{% extends '@SyliusUi/Menu/top.html.twig' %}

{% block link %}
	{% set color = item.labelAttribute('color') %}

	<a
		href="{{ item.uri }}"
		{% if item.attribute('confirmation')|default(false) %}
			onclick="return confirm('{{ 'mango-sylius.admin.order.confirmEmailResend'|trans }}');"
		{% endif %}
		class="ui {% if color %}{{ color }} {% endif %}labeled icon button">
		{{ block('icon') }}
		{{ item.label|trans }}
	</a>
{% endblock %}
